@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

input[type="radio"]:checked+label {
  @apply bg-bold text-white;
}

svg {
  width: 100%;
  display: inline;
}
